# Ignore Python bytecode files
**/__pycache__/
*.py[cod]
*$py.class

# Ignore other files and directories that are not needed
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.env
*.vscode/
.idea/

helpers/__pycache__/SQLite_Funcs.cpython-313.pyc
helpers/__pycache__/SQLite_Funcs.cpython-313.pyc
